@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --circle-size: 80%;
  --blending: hard-light;
}

.gradient-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
  z-index: -1;
}

svg {
  display: none;
}

.gradients-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
  ;
}

.g1 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50%-var(--circle-size)/2);
  left: calc(50%-var(--circle-size)/2);
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
  opacity: 1;
}

.g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50%-var(--circle-size)/2);
  left: calc(50%-var(--circle-size)/2);
  transform-origin: calc(50% - 300px);
  animation: moveInCircle 20s reverse infinite;
  opacity: .5;
}

.g3 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50%-var(--circle-size)/2 + 200px);
  left: calc(50%-var(--circle-size)/2 - 500px);
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 40s linear infinite;
  opacity: .4;
}

.g4 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50%-var(--circle-size)/2);
  left: calc(50%-var(--circle-size)/2);
  transform-origin: calc(50% - 200px);
  animation: moveInCircle 40s ease infinite;
  opacity: .7;
}

.g5 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: 100%;
  height: 100%;
  top: calc(50%-var(--circle-size)/2);
  left: calc(50%-var(--circle-size)/2);
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 20s ease infinite;
  opacity: .7;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(50%);
  }

  100% {
    transform: translateX(-50%) translateY(-50%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /*color: var(--foreground);
  background: var(--background);*/
  color: #FFF;
  background-color: #171717;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  overscroll-behavior-y: contain;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.connection-indicator {
  display: flex;
  position: fixed;
  margin: 1rem;
  left: 0;
  align-items: center;
  justify-content: center;
}

.connection-indicator-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgb(130, 130, 130);
  border-radius: 10px;
  margin-left: .5rem;
  margin-right: .5rem;
}

.connected {
  background-color: rgb(0, 227, 76);
  box-shadow:
    0 0 10px 2px rgb(0, 227, 76)
}

.pic-main {
  width: 70%;
}

.pic-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.letter-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  gap: 10px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 39, 39);
  border-radius: 4px;
}

.key-inactive {
  opacity: .2;
}

.button-control {
  width: 100px;
  height: 50px;
  border: 2px solid rgb(14, 117, 117);
  margin: 1rem;
}

.slot {
  display: flex;
  width: 3rem;
  border: 2px solid #171717;
  background-color: aliceblue;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 900;
}

.blank-row {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-evenly;
  margin: 1rem;
  margin-bottom: 2rem;
}


.game-wait {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .5;
  background-color: aqua;
}

/*


*/
@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.animate-shake {
  animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) 0.5s both;
}

/*


*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s
}

/*


*/
@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  60% {
    opacity: 1;
    transform: scale(1.1);
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.animate-popIn {
  animation: popIn 0.5s ease-out
}

/*

*/
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.animate-wiggle {
  animation: wiggle 0.2s ease 5;
  border: 5px solid rgb(54, 171, 54);
}