@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /*color: var(--foreground);
  background: var(--background);*/
  color: #FFF;
  background-color: #171717;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  overscroll-behavior-y: contain;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.connection-indicator {
  margin: 1rem;
  margin-bottom: 0;
}

.connection-indicator-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgb(130, 130, 130);
  border-radius: 10px;
  margin-left: .5rem;
  margin-right: .5rem;
}

.connected {
  background-color: rgb(0, 227, 76);
  box-shadow:
    0 0 10px 2px rgb(0, 227, 76)
}

.pic-main {
  width: 70%;
}

.pic-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.letter-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  gap: 10px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 39, 39);
  border-radius: 4px;
}

.key-inactive {
  opacity: .2;
}

.button-control {
  width: 100px;
  height: 50px;
  border: 2px solid rgb(14, 117, 117);
  margin: 1rem;
}

.slot {
  display: flex;
  width: 3rem;
  border: 2px solid #171717;
  background-color: aliceblue;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 900;
}

.blank-row {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-evenly;
  margin: 1rem;
  margin-bottom: 2rem;
}


.game-wait {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .5;
  background-color: aqua;
}

/*


*/
@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.animate-shake {
  animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) 0.5s both;
}

/*


*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s
}

/*


*/
@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  60% {
    opacity: 1;
    transform: scale(1.1);
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.animate-popIn {
  animation: popIn 0.5s ease-out
}